hr{
    margin: 0
}

.footer{
    background-color: var(--color-white);
    padding: 1em;
}

.footer__list{
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer{
        display: flex;
        justify-content: space-around;
    }

    .list__footer__title{
        font-size: 14px;
        color: var(--color-gray-title);
    }
    
    .footer__list{
        display: block;
    }
    
    
    .list__footer__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
        font-size: 14px;
    }

    .footer__list__link{
        text-decoration: none;
        color: var(--color-gray-item);
        margin-left: 0.6em;

    }

    .footer__title{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px){
    .footer__list{
        border-left: 1px solid var(--color-gray-item);
        padding-left: 1em;
    }

    .footer{
        padding: 3em 0;
    }
}