.header{
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__position{
    display: flex;
    align-items: center;
}

.header__img{
    padding: 1em;
}

.header__list-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.header__position__button:checked ~ .header__list-menu{
    display: block;
}

.header__list-menu, .header__list-menu__item, .header__list-menu__title{
    padding: 1em;
    background-color: var(--color-white);
}

.header__list-menu__title{
    color: var(--color-yellow);
    font-weight: 700;

}

.header__list-menu__item{
    background: var(--color-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.header__hamburguer-menu{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
} 

.header__position__button{
    display: none;
}

.header__position__title{
    display: none;
}

.options{
    display: none;
}

.header__position__text{
    display: none;
}

.header__position__button:checked ~ .label > .header__hamburguer-menu{
    background-image: url(../img/Menu\ Aberto.svg);
}

.header__position__button:checked ~ .label {
    background: var(--color-blue);
}

@media screen and (min-width: 1024px){
    .header__position__title, .header__position__title-strong{
        font-family: var(--second-font-type);
        font-size: 30px;
    }

    .header__position{
        margin-left: 2em;
    }

    .header__position__title{
        font-weight: 400;
        display: block;
        margin-left: 0.5em;
    }

    .header__position__title-strong{
        font-weight: 700;
    }

    .options{
        display: flex;
    }

    .options__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .options__item__link{
        text-decoration: none;
        color: var(--color-black);
    }

    .header-flee{
        display: none;
    }

    .header__hamburguer-menu{
        display: none;
    }

    .options__button:checked ~ .header__list-menu{
        display: block;
        width: auto;
    }

    .options__button{
        display: none;
    }

    .options__button:checked ~.options__label> .options__item{
        background: var(--color-blue);
        color: var(--color-white);
    }

    .options__item{
        padding: 2em 1em;
    }
    
    .header__list-menu__item:hover{
        background: var(--color-blue);
    }

    .header__list-menu__item:hover > .list-menu__link{
        -webkit-text-fill-color: var(--color-white);
        text-decoration: none;
    }

    .options__label{
        cursor: pointer;
    }

}

@media screen and (min-width: 1728px){
    .header__position__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        margin-right: 2em;
        color: var(--color-black);
    }

    .header__position__text{
        display: block;
    }
     .header-flee{
        display: none;
    }
}